<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.budgetmanagement">
    <supports-screens>
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"

    </supports-screens>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Budget Management"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudgetManagement">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".Tab1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Tab2"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".TabHistory_week"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Update_AddExpense"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Setting"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".WelcomeScreen">
        </activity>
        <activity android:name=".LogoutActivity"></activity>
        <activity
            android:name=".DataBaseHelper"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".LoginDataBaseAdapter"
            tools:ignore="Instantiatable"></activity>
        <activity android:name=".SignUpActivity"></activity>
    </application>

</manifest>